body
   {
   	 background-color: lightgreen;
   }

a:link, a:visited
   {
   	background-color: black;
   	 color:white;
   	 text-decoration: none;
   	 padding: 15px;
   	 text-align: center;
   	 display: inline-block;
   	 font-family: verdana;
   }

a:hover
   {
     color:yellow;
     background-color: lightpink;
     text-decoration: underline;
   }

a:active
   {
   	color: green;
   	background-color: orange;
   	text-decoration: underline;
   }